name: CI

on:
  push:
    branches: [main]
  pull_request:
    # By default, a workflow only runs when a pull_request's activity type is
    # opened, synchronize, or reopened. Adding ready_for_review here ensures
    # that CI runs when a PR is marked as not a draft, since we skip CI when a
    # PR is draft
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch }}

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Update npm version
        shell: bash
        run: |
          version=$(cat package.json | jq '.devEngines.packageManager.version' --raw-output)
          echo "Version detected: $version"
          npm install -g npm@$version

      - name: Install deps
        run: npm ci

      - name: Build translations
        run: node --run intl

      - name: Run lint
        run: node --run lint
  test:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          ['ubuntu-latest', 'macos-latest', 'macos-15-intel', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Update npm version
        shell: bash
        run: |
          version=$(cat package.json | jq '.devEngines.packageManager.version' --raw-output)
          echo "Version detected: $version"
          npm install -g npm@$version

      - name: Install deps
        run: npm ci

      - name: Build translations
        run: node --run intl

      - name: Run type checks
        run: node --run types

      - name: Run tests
        run: node --run test

  test-e2e:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            { name: 'linux', image: 'ubuntu-latest' },
            { name: 'macos', image: 'macos-latest' },
            { name: 'macos-intel', image: 'macos-15-intel' },
            { name: 'windows', image: 'windows-latest' },
          ]
    runs-on: ${{ matrix.os.image }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Update npm version
        shell: bash
        run: |
          version=$(cat package.json | jq '.devEngines.packageManager.version' --raw-output)
          echo "Version detected: $version"
          npm install -g npm@$version

      - name: Install deps
        run: npm ci

      - name: Build translations
        run: node --run intl

      - name: Create packaged app
        env:
          APP_TYPE: 'internal'
          COMAPEO_TEST: 'true'
          VITE_FEATURE_TEST_DATA_UI: 'true'
        run: node --run forge:package

      - name: Run e2e tests
        if: ${{ matrix.os.name != 'linux'}}
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: node --run test-e2e

        # NOTE: Addresses issue with app not launching (https://github.com/microsoft/playwright/issues/34251#issuecomment-2580645333)
      - name: Run e2e tests (Linux)
        if: ${{ matrix.os.name == 'linux'}}
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: |
            sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
            xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- node --run test-e2e

      - name: Upload Playwright report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: playwright-report-${{ matrix.os.name }}-${{ github.sha }}
          path: tests-e2e/playwright-report/
          overwrite: true
          retention-days: 30
