# Summary:
#
# Creates a release based on the release branch when a release candidate PR is merged.
#
# Triggers:
#
# - Merging a PR that targets a base branch that matches `release/**`
#
# Effects:
#
# - Creates a draft GitHub release
# - Creates application builds and uploads them to the GitHub release.
# - Comments on the the release PR pointing to the GitHub release URL.
name: Release

on:
  pull_request:
    types:
      - closed
    branches:
      - 'release/**'

jobs:
  create_release:
    name: Create release
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      tag_version: ${{ steps.version.outputs.release_version_short }}
      release_url: ${{ steps.release.outputs.release_url }}
    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          sparse-checkout: |
            package.json
            .github/parse-version/action.yml
          sparse-checkout-cone-mode: false

      - name: Parse version
        id: version
        uses: ./.github/parse-version

      - name: Create release on GitHub
        id: release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          REPOSITORY: ${{ github.repository }}
          TAG_NAME: ${{ steps.version.outputs.release_version_short }}
        run: |
          release_url=$(gh release create "$TAG_NAME" --repo "$REPOSITORY" --draft --generate-notes --title "$TAG_NAME")
          echo "release_url=$release_url" >> $GITHUB_OUTPUT

  build:
    name: Create builds
    needs: create_release
    uses: ./.github/workflows/create-builds.yml
    with:
      app_type: 'production'
      build_sha: ${{ github.sha }}
    secrets: inherit

  upload_builds:
    name: Upload builds
    runs-on: ubuntu-latest
    needs: [create_release, build]
    steps:
      - name: Download artifacts
        id: download
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: assets
          merge-multiple: true

      - name: Create GitHub App Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}

      - name: Upload to GitHub release
        working-directory: ${{ steps.download.outputs.download-path }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          REPOSITORY: ${{ github.repository }}
          TAG_NAME: ${{ needs.create_release.outputs.tag_version }}
        run: gh release upload "$TAG_NAME" * --clobber --repo "$REPOSITORY"

  comment:
    name: Comment
    needs: [create_release, upload_builds]
    runs-on: ubuntu-latest
    env:
      RELEASE_URL: ${{ needs.create_release.outputs.release_url }}
    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}

      - name: Comment on PR
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          COMMENT_BODY: |
            :rocket: A draft release pointing to ${{ github.event.pull_request.merge_commit_sha }} has been created at ${{ env.RELEASE_URL }}
        run: |
          gh pr comment $PR_NUMBER --body "$COMMENT_BODY" --repo "$GITHUB_REPOSITORY"
